GNOME CSD styles for headerbar on Firefox [tabsintitlebar] @namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#main-window {
	-moz-appearance: -moz-window-titlebar !important;
}


/* Window buttons: at least 1 button */
@media (-moz-gtk-csd-minimize-button),
(-moz-gtk-csd-maximize-button),
(-moz-gtk-csd-close-button) {
	:root[tabsintitlebar]:not([inFullscreen]) #nav-bar {
		padding-right: 60px !important;
	}
}

/* Window buttons: at least 2 buttons */
@media (-moz-gtk-csd-minimize-button) and (-moz-gtk-csd-maximize-button),
(-moz-gtk-csd-minimize-button) and (-moz-gtk-csd-close-button),
(-moz-gtk-csd-maximize-button) and (-moz-gtk-csd-close-button) {
	:root[tabsintitlebar]:not([inFullscreen]) #nav-bar {
		padding-right: 70px !important;
	}
}

/* Window buttons: 3 buttons */
@media (-moz-gtk-csd-minimize-button) and (-moz-gtk-csd-maximize-button) and (-moz-gtk-csd-close-button) {
	:root[tabsintitlebar]:not([inFullscreen]) #nav-bar {
		padding-right: 90px !important;
	}
}

/* Fullscreen headerbar padding for 1 button */
:root[tabsintitlebar][inFullscreen] #nav-bar {
	padding-right: 40px !important;
}

/* Window buttons box */
:root[tabsintitlebar] #titlebar .titlebar-buttonbox-container,
:root[tabsintitlebar] #titlebar-buttonbox-container,
:root[tabsintitlebar][inFullscreen] #window-controls {
	-moz-appearance: none !important;
	padding: 0 3px 0 4px;
	position: absolute !important;
	left: 8px;
	top: 15px;
	display: block !important;
}
:root[tabsintitlebar][inFullscreen] #window-controls {
	top:10px;
}



/* Left window buttons */
@media (-moz-gtk-csd-reversed-placement) {
	:root[tabsintitlebar]:not([inFullscreen]) #nav-bar {
		padding-right: 3px !important;
	}

	/* Window buttons box */
	:root[tabsintitlebar] #titlebar .titlebar-buttonbox-container {
		padding: 0 3px 0 4px;
		left: 8px;
		right: auto;
	}


	/* Remove tabsbar titlebar blank spaces */
	:root[tabsintitlebar] #TabsToolbar .titlebar-placeholder {
		display: none !important;
	}

	/* Prevent menubar from breaking */
	:root[tabsintitlebar] #toolbar-menubar:not([inactive=true]) {
		height: 30px !important;
		margin-bottom: 8px;
	}

	/* Remove default style of titlebar */
	:root[tabsintitlebar] #titlebar {
		-moz-appearance: none !important;
	}

	/* Fix the issue when dragging tabs */
	:root[tabsintitlebar] #navigator-toolbox[movingtab] #TabsToolbar {
		padding-bottom: 0 !important;
	}