/* Entries */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Entries */

#searchbar,
#search-box,
.findbar-textbox {
	appearance: none;
	-moz-appearance: none !important;
	background: var(--macos-urlbar-background) !important;
	border: 1px solid var(--macos-urlbar-border-color) !important;
	border-radius: var(--macos-menu-border-radius) !important;
	box-shadow: none !important;
	color: var(--macos-urlbar-color) !important;
	height: 28px !important;
	max-height: 28px !important;
	margin: 0 !important;
	padding: 6px !important;
	box-sizing: border-box;
	transition: all 100ms;
}

#search-box {
	background-color: transparent !important;
	box-shadow: inset 0 0 0 1px color-mix(in srgb, currentColor 10%, transparent) !important;
}

/* Entries not focused */

#urlbar > #urlbar-input-container,
#searchbar,
#search-box,
.findbar-textbox,
[type="text"] {
	outline-offset: -2px !important;
	-moz-outline-radius: 8px;
	outline-style: solid !important;
	outline-color: transparent !important;
	outline-width: 12px !important;
	transition: outline-color 0s, outline-width 0s !important;
}

#urlbar:not([focused]) *,
#searchbar * {
	cursor: default !important;
}

#searchbar:focus-within * {
	cursor: text !important;
}

/* Entries focused */

#urlbar[focused] > #urlbar-input-container,
#searchbar:focus-within,
#search-box[focused],
.findbar-textbox[focused],
.findbar-textbox:focus,
[type="text"]:focus-visible {
	outline-color: var(--macos-focused-urlbar-border-color) !important;
	outline-width: 3px !important;
	transition: outline-color 0.3s cubic-bezier(0, 0.7, 0.3, 1), outline-width 0.3s cubic-bezier(0, 0.7, 0.3, 1) !important;
}

/* Inactive window entries */

#searchbar:-moz-window-inactive,
#search-box:-moz-window-inactive,
.findbar-textbox:-moz-window-inactive {
	color: var(--macos-inactive-urlbar-color) !important;
}

/* Entries combined */

.findbar-textbox:not(.minimal) {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	border-right-width: 0 !important;
}

.findbar-textbox:not(.minimal)[focused],
.findbar-textbox:not(.minimal):focus {
	-moz-outline-radius: 8px 0 0 8px !important;
}

/* Entries fixes */

#urlbar-container,
#search-container {
	padding: 0 !important;
	margin: 0 3px !important;
}

#urlbar-input-container {
	background: transparent !important;
	border: 0 !important;
}

#urlbar,
#searchbar {
	margin: 0 3px !important;
	padding: 0 !important;
}

.searchbar-textbox {
	border: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
	min-height: auto !important;
}

#searchbar > .searchbar-textbox[focused] .searchbar-search-button:not(#hack) {
	margin: 0 !important;
}
