/* Private window header bar's URL bar */

@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

:root[privatebrowsingmode="temporary"] #nav-bar toolbarspring:first-of-type:before {
	background: url("../icons/user-not-tracked.svg") no-repeat;
	/*background-size: contain;*/
        background-size: 48px 48px;
	content: "";
	display: block;
	position: absolute;
	/*width: 20px;*/
        width: 48px;
	/*height: 20px;*/
        height: 48px;
	/*top: 15px;*/
        top: 2px;
	opacity: 0.3;
	transform: translate(5px, 0);
}

:root[privatebrowsingmode="temporary"] #nav-bar toolbarspring:first-of-type:-moz-lwtheme-brighttext:before {
	background-image: url("../icons/user-not-tracked-dark.svg");
}

@media (prefers-color-scheme: dark) {
	:root[privatebrowsingmode="temporary"] #nav-bar toolbarspring:first-of-type:before {
		background: url("../icons/user-not-tracked-dark.svg") no-repeat;
		/*background-size: contain;*/
		background-size: 48px 48px;
		content: "";
		display: block;
		position: absolute;
		/*width: 20px;*/
		width: 48px;
		/*height: 20px;*/
		height: 48px;
		/*top: 15px;*/
		top: 2px;
		opacity: 0.3;
		transform: translate(5px, 0);
	}
}

#TabsToolbar .private-browsing-indicator {
	display: none !important;
}

#TabsToolbar .private-browsing-indicator-with-label{
 	display:none !important;
}
