/* Popup menus and context menus */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

:root {
	--macos-menu-border: 1px solid var(--macos-menu-border-color);
	--macos-menu-outline: 0.5px solid var(--macos-menu-outline-color);
	--macos-menu-padding: 4px;
	--macos-menu-item-border-radius: 4px;
	--macos-menu-item-padding: 2px 8px;
	--macos-menu-item-margin: 0;
	--macos-menu-border-radius: 6px;
	--macos-toolbar-border-radius: 8px;

	--panel-item-hover-bgcolor: var(--macos-menu-item-hover) !important;
	--panel-item-active-bgcolor: var(--macos-menu-item-hover) !important;

	--arrowpanel-background: var(--macos-menu-background) !important;
	--arrowpanel-color: var(--macos-button-menulist-color) !important;
	--arrowpanel-border-color: var(--macos-menu-border-color) !important;
	--arrowpanel-border-radius: var(--macos-menu-border-radius) !important;
	--arrowpanel-padding: var(--macos-menu-padding) !important;
	--arrowpanel-menuitem-padding: var(--macos-menu-item-padding) !important;
	--arrowpanel-menuitem-margin: var(--macos-menu-item-margin) !important;
}

.cui-widget-panel {
	--arrowpanel-padding: var(--macos-menu-padding) !important;
}

#PopupSearchAutoComplete {
	--panel-subview-body-padding: var(--macos-menu-padding) !important;
	--panel-padding: var(--macos-menu-padding) !important;
}

/* Style menus */

menupopup {
	appearance: none;
	-moz-appearance: none !important;
	padding: 4px !important;
	border-radius: var(--macos-menu-border-radius) !important;
	border: var(--macos-menu-border) !important;
	outline: var(--macos-menu-outline) !important;
	color: var(--macos-toolbar-color) !important;
	background-color: var(--macos-menu-background) !important;
}

menupopup menupopup {
	margin: -5px 0 0 -4px;
}

menubar > menu > menupopup {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}

menuitem,
menupopup menu {
	appearance: none;
	-moz-appearance: none !important;
	padding: var(--macos-menu-item-padding) !important;
}

menuitem[type="checkbox"] image,
menuitem[type="radio"] image {
	visibility: visible !important;
}

menuitem[disabled="true"]:hover,
menupopup menu[disabled="true"]:hover {
	background: transparent !important;
}

.menu-right, .menu-accel-container {
	margin-inline: auto !important;
}

#customizationui-widget-multiview #appMenu-libraryView,
#pageActionPanel panelview,
#widget-overflow panelview {
	min-width: fit-content !important;
	max-width: max-content !important;
}

/* Adjust popovers position, includes background colour with transparency */

panel {
	appearance: none !important;
	background: transparent !important;
	font: menu !important;
	--panel-background: var(--macos-menu-background) !important;
	--panel-color: var(--macos-button-menulist-color) !important;
	--panel-border-color: var(--arrowpanel-border-color) !important;
	--panel-border-radius: var(--arrowpanel-border-radius) !important;
	--panel-padding: var(--arrowpanel-padding) !important;
}

panel[type="arrow"] {
	margin-top: 9px !important;
}

#customizationui-widget-panel {
	margin-top: 15px !important;
}

/* Panel padding */

panel[type="arrow"].panel-no-padding:not(#customizationui-widget-panel) > * {
	margin-inline: var(--panel-padding) !important;
}

panel[type="arrow"].panel-no-padding:not(#customizationui-widget-panel) > *:first-of-type {
	margin-block-start: var(--panel-padding) !important;
}

panel[type="arrow"].panel-no-padding:not(#customizationui-widget-panel) > *:last-of-type {
	margin-block-end: var(--panel-padding) !important;
}

/* Style popovers */

.panel-arrowcontent .panel-arrowcontent,
.panel-header,
.PanelUI-subView,
.panel-subview-body,
#widget-overflow-mainView,
#protections-popup-footer,
panelview {
	border: 0 !important;
	background: transparent !important;
}

.panel-subview-body > *,
.panel-subview-footer-button,
.panel-subview-footer-button > *,
#appmenu-developer-tools-view > *,
#panelMenu_bookmarksMenu > * #appMenu_historyMenu > * #identity-popup-more-info-footer > toolbarbutton,
#widget-overflow-mainView > toolbarbutton {
	margin: 0 !important;
}

.panel-arrowcontent {
	--panel-background: var(--macos-menu-background) !important;
	border-color: var(--macos-menu-border-color) !important;
	border-radius: var(--macos-menu-border-radius) !important;
	padding: 12px !important;
	color: var(--macos-toolbar-color) !important;
	font: inherit !important;
}

.panel-arrow {
	fill: var(--macos-menu-background) !important;
	stroke: var(--macos-menu-border-color) !important;
}

.panel-header {
	padding: 10px 0 10px 0 !important;
}

.panel-footer {
	background-color: transparent !important;
	display: flex;
	justify-content: flex-end;
	padding-top: 0px !important;
}

.panel-footer toolbarseparator {
	display: none !important;
}

.panel-subview-body {
	padding: 0 !important;
}

.panel-subview-footer {
	margin-top: 10px !important;
}

#nav-bar .toolbarbutton-1 {
	border-radius: var(--macos-toolbar-border-radius) !important;
}

/* Style popovers menu buttons */

.subviewbutton:not(.subviewbutton-back):not(.toolbarbutton-text),
.protections-popup-category,
.protections-popup-category[disabled],
.identity-popup-content-blocking-category {
	border-radius: var(--macos-menu-item-border-radius) !important;
	color: inherit !important;
	font: menu !important;
}

.subviewbutton:not(.subviewbutton-back):not(.toolbarbutton-1),
.protections-popup-category,
.identity-popup-content-blocking-category {
	padding: var(--macos-menu-item-padding) !important;
	margin: 0 !important;
}

.subviewbutton#appMenu-fxa-label2 {
	padding: 0 !important;
}

.subviewbutton#appMenu-fxa-label2:hover {
	background: transparent !important;
	color: #fff !important;
}

.subviewbutton[disabled],
.toolbarbutton-1[disabled],
.identity-popup-content-blocking-category[disabled] {
	opacity: 0.5 !important;
	color: var(--macos-inactive-toolbar-color) !important;
	background: none !important;
}

.subviewbutton[shortcut]:after {
	opacity: 0.5 !important;
}

.bookmark-item:hover,
.panel-subview-body .toolbarbutton-1:not(.subviewbutton):hover,
.subviewbutton.identity-popup-security-connection:hover,
.subviewbutton.sendToDevice-device:hover,
#protections-popup-show-report-stack:hover > .protections-popup-footer-button,
.subviewbutton:not(.nav-bar-overflow-button):not(#appMenu-fxa-label2):not(.subviewbutton-iconic):not(.panel-subview-footer-button):hover,
menupopup > menuitem:hover,
menupopup > menuitem[_moz-menuactive="true"]:hover,
menupopup > menu:where([_moz-menuactive="true"]:not([disabled="true"])),
menupopup > menuitem:where([_moz-menuactive="true"]:not([disabled="true"])) {
	background: var(--macos-menu-item-hover) !important;
	color: #fff !important;
}

/* Right click menu */

#context-navigation > .menuitem-iconic {
	flex: 1 1 100% !important;
	width: 0 !important;
}

#context-navigation > .menuitem-iconic > .menu-iconic-left {
	height: 100% !important;
}

#context-navigation > .menuitem-iconic > .menu-iconic-left > .menu-iconic-icon {
	padding: 6px !important;
	background-color: transparent !important;
	width: auto !important;
	height: auto !important;
	max-width: 100% !important;
	max-height: 100% !important;
}

.protections-popup-category:not([disabled]):hover,
.identity-popup-content-blocking-category:not([disabled]):hover {
	background: var(--macos-menu-item-hover) !important;
}

/* Style popover separators */

toolbarseparator,
menuseparator {
	border-color: var(--macos-menu-separator-color) !important;
}

toolbarseparator:not([orient="vertical"]),
menuseparator {
	margin: 6px 8px !important;
	border-top: 1px solid currentColor !important;
	opacity: 0.2;
}

menuseparator::before {
	content: none !important;
}

toolbarseparator[orient="vertical"] {
	margin: 0 3px !important;
}

#contentAreaContextMenu menuitem image,
#contentAreaContextMenu menu image {
	visibility: visible !important;
}

/* Webchat e.g. google meet share screen display select */

#webRTC-selectWindow-menulist {
	color: var(--macos-inactive-urlbar-color) !important;
	background: var(--macos-button-hover-background) !important;
	border-radius: 5px;
}

/* Proton right click menu */

@media (-moz-proton) {
	#context-navigation > .menuitem-iconic[_moz-menuactive="true"]:not([disabled="true"]) > .menu-iconic-left > .menu-iconic-icon {
		background-color: transparent !important;
	}
}

.unified-extensions-item-open-menu.subviewbutton {
	display: none !important;
}

/* fix menu button padding and alignment */

#PanelUI-menu-button {
	padding-inline-end: 0px !important;
	padding-left: 0px !important;
}

/* Fix alignment of menu */

panel[type="arrow"][side="top"],
panel[type="arrow"][side="bottom"] {
	margin-inline: -20px !important;
}

/* Fix bookmarks v92 */

menuseparator {
	appearance: none;
	-moz-appearance: none !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

menupopup > menuitem,
menupopup > menu {
	padding: var(--macos-menu-item-padding) !important;
	min-height: unset !important;
}

#PlacesToolbar menupopup,
#PlacesToolbar menu:not([disabled], :active) {
	--arrowpanel-background: transparent !important;
	--arrowpanel-border-radius: 0px !important;
}

#PlacesToolbar menu[_moz-menuactive],
#PlacesToolbar menu:active,
toolbarbutton.bookmark-item[open="true"] {
	background-color: var(--macos-button-active-background) !important;
}

#PlacesToolbar menuitem:hover {
	color: var(--macos-button-menulist-color) !important;
}

#PlacesToolbar menupopup[placespopup="true"] {
	border: none !important;
}

#PlacesToolbar menupopup[placespopup="true"]::part(arrowscrollbox) {
	background: transparent !important;
}

.menupopup-arrowscrollbox {
	box-shadow: none !important;
	margin: 0 !important;
	padding: 0 !important;
	background: transparent !important;
	border: 0 !important;
	max-width: 100% !important;
}

/* Update close button styling */

:root[dialogroot],
:host(dialog) {
	--in-content-page-background: var(--macos-menu-background) !important;
}

/* Cancel or secondary */

.dialog-button-box > button {
	background-color: var(--macos-button-active-background-alt) !important;
	border: 1px solid var(--macos-button-active-background-alt-border);
	color: var(--macos-button-menulist-color) !important;
}

xul|button:not([disabled="true"]):hover {
	background-color: var(--macos-button-active-background-alt-hover) !important;
	border: 1px solid var(--macos-button-active-background-alt-border);
	border-color: var(--macos-button-active-border-color) !important;
	color: var(--macos-button-menulist-color) !important;
}

/* Quit or primary button */

xul|button[default] {
	background-color: var(--macos-button-suggested-action-background) !important;
	border-color: var(--macos-button-suggested-action-border-color) !important;
	color: var(--macos-button-menulist-color) !important;
}

xul|button[default]:not([disabled="true"]):hover {
	background-color: var(--macos-button-suggested-action-hover-background) !important;
	border-color: var(--macos-button-suggested-action-border-color) !important;
	color: var(--macos-button-menulist-color) !important;
}

button:focus-visible {
	outline: 2px solid var(--theme-primary-color) !important;
}

/* checkbox */

.checkbox-check[checked] {
	background-color: var(--theme-primary-color) !important;
	color: var(--theme-alt-color) !important;
}

checkbox:not([disabled="true"]):hover > .checkbox-check[checked] {
	background-color: var(--macos-switch-active-background, color-mix(in srgb, currentColor 12.5%, var(--theme-primary-color))) !important;
}

/* Bookmark editor */

#editBookmarkPanelBottomButtons {
	padding: 0 var(--arrowpanel-padding) calc(var(--arrowpanel-padding) / 2);
}

#editBookmarkPanelContent .panel-button image {
	width: 16px;
	height: 16px;
}

/* Dialog box */

browser[primary="true"][tabDialogShowing="true"],
#main-window[window-modal-open="true"] > body > #browser {
	filter: blur(5px);
}

#browser .dialogBox {
	box-shadow: #000000bf 0px 0px 50px !important;
}

#commonDialogWindow {
	font: menu !important;
}

#commonDialogWindow .titleIcon {
	background-color: transparent !important;
}

/* Auto-complete menu */

#PopupAutoComplete {
	--panel-width: fit-content !important;
	width: fit-content !important;
}

richlistbox.autocomplete-richlistbox {
	width: fit-content !important;
	height: fit-content !important;
	margin: 0 !important;
	background-color: transparent !important;
	color: inherit !important;
}

#PopupAutoComplete > richlistbox > richlistitem {
	justify-content: flex-start !important;
	box-sizing: content-box !important;
	min-height: 20px !important;
	padding: var(--macos-menu-item-padding) !important;
	background-color: transparent !important;
	border: none !important;
	border-radius: var(--macos-menu-item-border-radius) !important;
}

#PopupAutoComplete > richlistbox > richlistitem:hover {
	background-color: var(--macos-menu-item-hover) !important;
	color: var(--macos-menu-item-hover-color) !important;
}

.autocomplete-richlistitem[originaltype="loginsFooter"] {
	margin-block-start: 12px;
	position: relative;
	overflow: visible !important;
	color: inherit !important;
}

.autocomplete-richlistitem[originaltype="loginsFooter"]::before {
	pointer-events: none !important;
	content: "";
	position: absolute;
	top: -6px;
	left: 5px;
	width: calc(100% - 10px);
	border-top: 1px solid var(--macos-menu-separator-color);
}

#PopupAutoComplete > richlistbox > richlistitem > .ac-login-item > .ac-settings-button {
	display: none !important;
}

#PopupAutoComplete:is([resultstyles~="loginsFooter"]) {
	min-width: 0 !important;
}

#PopupAutoComplete > richlistbox > richlistitem,
.autocomplete-richlistitem[originaltype="loginsFooter"],
#PopupAutoComplete > richlistbox > richlistitem > .ac-title {
	font: menu !important;
}

/* Search bar menu */

#PopupSearchAutoComplete > hbox.search-panel-header {
	padding: var(--macos-menu-item-padding) !important;
	border-radius: var(--macos-menu-item-border-radius) !important;
}

#PopupSearchAutoComplete > hbox.search-panel-header:hover {
	background-color: var(--macos-menu-item-hover);
}
