/* Windows specific */
@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";
@media (-moz-platform: windows) {
    .titlebar-button {
        border: none;
        margin: 0 !important;
        /*		padding: 3px 6px !important;
*/
        padding: 1px 3px !important;
        -moz-content-properties: none !important;
        stroke: none !important;
    }

    :root[sizemode="maximized"] #TabsToolbar {
        appearance: none !important;
    }

    :root:not([sizemode="maximized"]) #TabsToolbar .titlebar-buttonbox-container {
        top: 17px !important;
        padding: 2px 0 0 8px !important;
       
    }
    :root[inFullscreen]  #TabsToolbar .titlebar-buttonbox-container{
    margin-top: -34px;
    margin-bottom: 44px !important;
    order: 0 !important;
    }

    tab {
        font-weight: normal !important;
    }

    :root[sizemode="maximized"] .titlebar-buttonbox {
        top: 1px;
        left: 10px;
    }

    .titlebar-buttonbox-container, #PanelUI-button {
        padding-top: 0 !important;
    }


    #TabsToolbar .titlebar-button.titlebar-close {
        order: -1;
    }

    .titlebar-button {
        background-color: transparent !important;
    }

    #nav-bar {
        padding-left: 75px !important;
    }
    
    .PanelUI-subView{
        background: var(--gnome-menu-background) !important;
    }
}
