/* Minimalist style extension menu */

/* Based on u/It_Was_The_Other_Guy */

#unified-extensions-view {
	width: fit-content !important;
}

#widget-overflow-list,
#widget-overflow-fixed-list,
#unified-extensions-panel .panel-subview-body > * {
	display: grid !important;
	grid-template-columns: repeat(5, 1fr) !important;
	justify-items: center !important;
}

/* Animation for widget overflow list re-arrangement */

#widget-overflow-fixed-list > toolbarpaletteitem:not([notransition])[place="panel"] {
	border-block-width: 0 !important;
	transition: padding var(--drag-drop-transition-duration) ease-in-out !important;
}

#widget-overflow-fixed-list > toolbarpaletteitem:not([notransition])[place="panel"][dragover="before"] {
	padding-inline-start: 20px !important;
}

#widget-overflow-fixed-list > toolbarpaletteitem:not([notransition])[place="panel"][dragover="after"] {
	padding-inline-end: 20px !important;
}

#customization-panelHolder > #widget-overflow-fixed-list::before {
	display: none !important;
}

:is(panelview, #widget-overflow-fixed-list) .toolbaritem-combined-buttons {
	margin: 0 !important;
}

#nav-bar-customization-target > .unified-extensions-item {
	filter: saturate(0%) brightness(120%) !important;
}

#widget-overflow-list > .toolbarbutton-1,
#widget-overflow-fixed-list > .toolbarbutton-1,
#widget-overflow-fixed-list > .toolbaritem-combined-buttons,
#widget-overflow-fixed-list > toolbarpaletteitem,
#unified-extensions-panel .unified-extensions-item {
	width: 60.6px !important;
	height: 60.6px !important;
	max-width: none !important;
	max-height: none !important;
	padding: 0 !important;
	margin: 0 !important;
}

#widget-overflow-fixed-list > toolbarpaletteitem#wrapper-edit-controls,
#widget-overflow-fixed-list > toolbarpaletteitem#wrapper-zoom-controls,
#widget-overflow-fixed-list > .toolbaritem-combined-buttons#zoom-controls,
#widget-overflow-fixed-list > .toolbaritem-combined-buttons#edit-controls {
	grid-column: span 3;
	width: 181.8px !important;
}

.widget-overflow-list .toolbarbutton-1,
#unified-extensions-panel #unified-extensions-area .unified-extensions-item-action-button,
#unified-extensions-panel #overflowed-extensions-list .unified-extensions-item-action-button {
	width: 100% !important;
	height: 100% !important;
	padding: 0 !important;
	margin: 0 !important;
}

.widget-overflow-list .toolbarbutton-1 > .toolbarbutton-badge-stack,
#unified-extensions-panel #unified-extensions-area .unified-extensions-item-action-button > .toolbarbutton-badge-stack,
#unified-extensions-panel #overflowed-extensions-list .unified-extensions-item-action-button > .toolbarbutton-badge-stack,
#unified-extensions-panel .unified-extensions-list .unified-extensions-item-action-button {
	display: grid !important;
	width: 100% !important;
	height: 100% !important;
	padding: 20% !important;
	margin: 0 !important;
	justify-content: center;
	align-items: center;
}

#unified-extensions-panel .unified-extensions-list {
	display: none !important;
}

.widget-overflow-list .subviewbutton-nav::after,
#widget-overflow-list toolbarbutton:not(#zoom-reset-button) > .toolbarbutton-text,
#widget-overflow-fixed-list toolbarbutton:not(#zoom-reset-button) > .toolbarbutton-text,
.unified-extensions-item-menu-button,
.unified-extensions-item-contents {
	display: none !important;
}

.widget-overflow-list .toolbarbutton-1 image,
#widget-overflow-fixed-list .toolbarbutton-1 image,
#unified-extensions-panel .unified-extensions-item-action-button image {
	height: 26px !important;
	width: 26px !important;
	margin: auto !important;
}

#unified-extensions-panel .subviewbutton {
	margin: 0 !important;
}
