@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Variables that start with --macos- are added by me and are assigned
 * to elements somewhere in this code. The rest of the variables are
 * built-in in Firefox, so you need to add an !important if you wanna
 * override them. */

:root {
	/* Browser area before a page starts loading */
	--macos-browser-before-load-background: #1e1e1e;
	--theme-primary-color: #315bef !important;
	--theme-primary-color-hover: #3863ff;
	--theme-alt-color: #fff;
	--in-content-link-color: var(--theme-primary-color) !important;
	--in-content-link-color-hover: var(--theme-primary-color-hover) !important;

	/* Toolbars */
	--macos-toolbar-background: var(--toolbar-bgcolor);
	--macos-tabstoolbar-background: var(--lwt-accent-color);
	--macos-findbar-background: var(--lwt-accent-color);
	--macos-toolbar-color: var(--toolbar-color);
	--macos-toolbar-border-color: var(--chrome-content-separator-color);
	--macos-inactive-toolbar-background: var(--toolbar-bgcolor);
	--macos-inactive-toolbar-border-color: #121212;

	/* Sidebar */
	--macos-sidebar-background: var(--lwt-accent-color);
	--macos-inactive-sidebar-background: var(--lwt-accent-color);
	--macos-sidebar-color: var(--lwt-text-color);

	/* Popups and menus */
	--macos-menu-background: color-mix(in srgb, #292929 70%, var(--toolbar-field-focus-background-color));
	--macos-menu-border-color: #ffffff33;
	--macos-menu-outline-color: #101010;
	--macos-menu-shadow: 0 5px 8px #0000004d, inset 0 0 0 1px #ffffff0f;
	--macos-menu-button-hover-background: #ffffff33;
	--macos-menu-button-active-background: #ffffff49;
	--macos-menu-item-hover: #2556b9;
	--macos-menu-item-hover-color: #fff;
	--macos-menu-separator-color: #ffffff33;

	/* Header bar */
	--macos-headerbar-background: var(--toolbar-bgcolor);
	--macos-headerbar-border-color: var(--chrome-content-separator-color);
	--macos-headerbar-box-shadow: inset 0 1px #ffffff26;
	--macos-inactive-headerbar-background: var(--toolbar-bgcolor);
	--macos-inactive-headerbar-border-color: #212121;
	--macos-inactive-headerbar-box-shadow: inset 0 1px #ffffff14;

	/* Buttons */
	--macos-button-background: linear-gradient(to top, #636363 0%, #696969 100%);
	--macos-button-border-color: #282828;
	--macos-button-border-accent-color: #282828;
	--macos-button-box-shadow: inset 0 1px #ffffff1a;
	--macos-button-hover-color: #ffffff1a;
	--macos-button-active-color: #ffffff33;
	--macos-button-hover-background: linear-gradient(to top, #707070 0%, #737373 100%);
	--macos-button-active-background-alt: #707070 !important;
	--macos-button-active-background-alt-border: #737373 !important;
	--macos-button-active-background-alt-hover: #9b9b9b !important;
	--macos-button-active-background: #464646;
	--macos-button-active-border-color: #1b1b1b;
	--macos-button-active-border-accent-color: #1b1b1b;
	--macos-button-active-box-shadow: inset 0 1px #ffffff1a;
	--macos-button-disabled-background: #505050;
	--macos-button-disabled-border-color: #323232;
	--macos-button-disabled-box-shadow: inset 0 1px #ffffff08;
	--macos-inactive-button-background: linear-gradient(#383838, #383838);
	--macos-inactive-button-border-color: #323232;
	--macos-inactive-button-box-shadow: inset 0 1px #ffffff00;
	--macos-button-suggested-action-background: #15539e;
	--macos-button-suggested-action-border-color: #0f3b71;
	--macos-button-suggested-action-border-accent-color: #092444;
	--macos-button-suggested-action-box-shadow: inset 0 1px #ffffff14;
	--macos-button-suggested-action-hover-background: #2073d8;
	--macos-button-suggested-action-active-background: #103e75;
	--macos-button-suggested-action-active-border-color: #0f3b71;
	--macos-button-suggested-action-active-box-shadow: inset 0 1px #ffffff0d;
	--macos-button-destructive-action-background: linear-gradient(to top, #ae151c 2px, #b2161d);
	--macos-button-destructive-action-border-color: #851015;
	--macos-button-destructive-action-border-accent-color: #570b0e;
	--macos-button-destructive-action-box-shadow: inset 0 1px #ffffff05, 0 1px 2px #00000012;
	--macos-button-destructive-action-hover-background: linear-gradient(to top, #ae151c, #b7161d 1px);
	--macos-button-destructive-action-active-background: #8a1116;
	--macos-button-destructive-action-active-border-color: #851015;
	--macos-button-destructive-action-active-box-shadow: inset 0 1px #ffffff00;
	--macos-button-menulist-color: #fff;
	--macos-headerbar-button-hover-background: var(--toolbarbutton-hover-background);
	--macos-headerbar-button-active-background: var(--toolbarbutton-active-background);

	/* URL bar */
	--macos-urlbar-background: var(--toolbar-field-background-color);
	--macos-urlbar-border-color: var(--chrome-content-separator-color);
	--macos-urlbar-box-shadow: inset 0 0 0 1px #15539e00;
	--macos-urlbar-color: var(--toolbar-field-color);
	--macos-hover-urlbar-border-color: var(--chrome-content-separator-color);
	--macos-inactive-urlbar-background: var(--toolbar-field-background-color);
	--macos-inactive-urlbar-border-color: var(--chrome-content-separator-color);
	--macos-inactive-urlbar-box-shadow: none;
	--macos-inactive-urlbar-color: var(--toolbar-field-color);
	--macos-focused-urlbar-border-color: #338cbe;
	--macos-focused-urlbar-highlight-color: #006ea0;
	--macos-private-urlbar-background: var(--toolbar-field-background-color);
	/* --urlbar-box-bgcolor: var(--toolbarbutton-hover-background) !important; */
	--urlbar-icon-border-radius: var(--macos-toolbar-border-radius) !important;

	/* Tabs */
	--macos-tabbar-tab-background: transparent;
	--macos-tabbar-tab-color: var(--lwt-tab-text, var(--toolbar-color));
	--macos-tabbar-tab-hover-background: color-mix(in srgb, var(--toolbar-bgcolor) 50%, transparent);
	--macos-tabbar-tab-hover-border-bottom-color: #1b1b1b;
	--macos-tabbar-tab-hover-color: var(--lwt-tab-text, var(--toolbar-color));
	--macos-tabbar-tab-active-background: var(--toolbar-bgcolor);
	--macos-tabbar-tab-active-color: var(--lwt-tab-text, var(--toolbar-color));
	--macos-tabbar-tab-active-hover-background: color-mix(in srgb, var(--toolbar-bgcolor) 50%, transparent);
	--macos-inactive-tabbar-tab-color: var(--lwt-tab-text, var(--toolbar-color));
	--macos-inactive-tabbar-tab-active-background: var(--toolbar-bgcolor);
	--macos-inactive-tabbar-tab-active-border-bottom-color: #15539e;
	--macos-inactive-tabbar-tab-active-color: var(--lwt-tab-text, var(--toolbar-color));

	/* Switch */
	--macos-switch-background: #282828;
	--macos-switch-border-color: #1b1b1b;
	--macos-switch-slider-background: linear-gradient(to bottom, #3c3c3c 20%, #353535 90%);
	--macos-switch-slider-border-color: #111111;
	--macos-switch-slider-box-shadow: inset 0 1px #ffffff05, 0 1px #0000001a, 0 1px 2px #00000012;
	--macos-switch-active-background: #15539e;
	--macos-switch-active-border-color: #030c17;
	--macos-switch-active-slider-border-color: #030c17;
}

@media (prefers-color-scheme: light) {
	:root {
		/* Browser area before a page starts loading */
		--macos-browser-before-load-background: #f5f5f5;
		--theme-primary-color: #315bef;
		--theme-primary-color-hover: #3863ff;
		--theme-alt-color: #fff;
		--in-content-link-color: var(--theme-primary-color) !important;
		--in-content-link-color-hover: var(--theme-primary-color-hover) !important;

		/* Toolbars */
		--macos-toolbar-background: var(--toolbar-bgcolor);
		--macos-tabstoolbar-background: var(--lwt-accent-color);
		--macos-findbar-background: var(--lwt-accent-color);
		--macos-toolbar-color: var(--toolbar-color);
		--macos-toolbar-border-color: var(--chrome-content-separator-color);
		--macos-inactive-toolbar-color: #2e343659;
		--macos-inactive-toolbar-background: var(--toolbar-bgcolor);
		--macos-inactive-toolbar-border-color: #dadada;

		/* Sidebar */
		--macos-sidebar-background: var(--lwt-accent-color);
		--macos-inactive-sidebar-background: var(--lwt-accent-color);
		--macos-sidebar-color: var(--lwt-text-color);

		/* Popups */
		--macos-menu-background: color-mix(in srgb, #e6e6e6 72%, var(--toolbar-field-focus-background-color));
		--macos-menu-border-color: transparent;
		--macos-menu-outline-color: #c8c8c8;
		--macos-menu-shadow: 0 5px 8px #0000004d;
		--macos-menu-button-hover-background: #00000033;
		--macos-menu-button-active-background: #0000004d;
		--macos-menu-item-hover: #55a1ff;
		--macos-menu-item-hover-color: #fff;
		--macos-menu-separator-color: #00000033;

		/* Header bar */
		--macos-headerbar-background: var(--toolbar-bgcolor);
		--macos-headerbar-border-color: var(--chrome-content-separator-color);
		--macos-headerbar-box-shadow: 0 1px #ffffffa6 inset;
		--macos-inactive-headerbar-background: var(--toolbar-bgcolor);
		--macos-inactive-headerbar-border-color: #dadada;
		--macos-inactive-headerbar-box-shadow: 0 1px #fff inset;

		/* Buttons */
		--macos-button-background: linear-gradient(to top, #f1f1f1 0%, #fdfdfd 95%, #fefefe 100%);
		--macos-button-border-color: #cdc7c2;
		--macos-button-border-accent-color: #b2b2b1;
		--macos-button-box-shadow: inset 0 1px white, 0 1px 2px #00000008;
		--macos-button-hover-color: #0000001a;
		--macos-button-active-color: #00000033;
		--macos-button-hover-background: linear-gradient(to top, #fdfdfd 0%, #ffffff 100%);
		--macos-button-active-background-alt: #f0f0f4 !important;
		--macos-button-active-background-alt-border: #f0f0f4 !important;
		--macos-button-active-background-alt-hover: #ffffff !important;
		--macos-button-active-background: #cfcfcf;
		--macos-button-active-border-color: #b2b2b1;
		--macos-button-active-border-accent-color: #b2b2b1;
		--macos-button-active-box-shadow: 0 1px #ffffff00 inset;
		--macos-button-disabled-background: #faf9f8;
		--macos-button-disabled-border-color: #cdc7c2;
		--macos-button-disabled-box-shadow: inset 0 1px #ffffff00;
		--macos-inactive-button-background: #f6f5f4;
		--macos-inactive-button-border-color: #dadada;
		--macos-inactive-button-box-shadow: 0 1px #ffffff00 inset, 0 1px #ffffff00;
		--macos-button-suggested-action-background: #2379e2;
		--macos-button-suggested-action-border-color: #1b6acb;
		--macos-button-suggested-action-border-accent-color: #15539e;
		--macos-button-suggested-action-box-shadow: inset 0 1px #ffffff1a, 0 1px 2px #00000012;
		--macos-button-suggested-action-hover-background: #3584e4;
		--macos-button-suggested-action-active-background: #1961b9;
		--macos-button-suggested-action-active-border-color: #1b6acb;
		--macos-button-suggested-action-active-box-shadow: inset 0 1px #ffffff00;
		--macos-button-destructive-action-background: linear-gradient(to top, #ce1921 2px, #e01b24);
		--macos-button-destructive-action-border-color: #b2161d;
		--macos-button-destructive-action-border-accent-color: #851015;
		--macos-button-destructive-action-box-shadow: inset 0 1px #ffffff1a, 0 1px 2px #00000012;
		--macos-button-destructive-action-hover-background: linear-gradient(to top, #e01b24, #e41c26 1px);
		--macos-button-destructive-action-active-background: #a0131a;
		--macos-button-destructive-action-active-border-color: #b2161d;
		--macos-button-destructive-action-active-box-shadow: inset 0 1px #ffffff00;
		--macos-button-menulist-color: #020202;
		--macos-headerbar-button-hover-background: var(--toolbarbutton-hover-background);
		--macos-headerbar-button-active-background: var(--toolbarbutton-active-background);

		/* URL bar */
		--macos-urlbar-background: var(--toolbar-field-background-color);
		--macos-urlbar-border-color: var(--chrome-content-separator-color);
		--macos-urlbar-box-shadow: 0 3px 3px #00000014, 0 5px 8px #0000000d, 0 8px 16px #00000008;
		--macos-urlbar-color: var(--toolbar-field-color);
		--macos-hover-urlbar-border-color: var(--chrome-content-separator-color);
		--macos-inactive-urlbar-background: var(--toolbar-field-background-color);
		--macos-inactive-urlbar-border-color: var(--chrome-content-separator-color);
		--macos-inactive-urlbar-box-shadow: 0 3px 5px #0000000d;
		--macos-inactive-urlbar-color: var(--toolbar-field-color);
		--macos-focused-urlbar-border-color: #5683da;
		--macos-focused-urlbar-highlight-color: #6592e9;
		--macos-private-urlbar-background: var(--toolbar-field-background-color);
		--urlbar-icon-border-radius: var(--macos-toolbar-border-radius) !important;

		/* Tabs */
		--macos-tabbar-tab-background: transparent;
		--macos-tabbar-tab-color: var(--lwt-tab-text, var(--toolbar-color));
		--macos-tabbar-tab-hover-background: color-mix(in srgb, var(--toolbar-bgcolor) 50%, transparent);
		--macos-tabbar-tab-hover-border-bottom-color: #b6b6b3;
		--macos-tabbar-tab-hover-color: var(--lwt-tab-text, var(--toolbar-color));
		--macos-tabbar-tab-active-background: var(--toolbar-bgcolor);
		--macos-tabbar-tab-active-color: var(--lwt-tab-text, var(--toolbar-color));
		--macos-tabbar-tab-active-hover-background: color-mix(in srgb, var(--toolbar-bgcolor) 50%, transparent);
		--macos-inactive-tabbar-tab-color: var(--lwt-tab-text, var(--toolbar-color));
		--macos-inactive-tabbar-tab-active-background: var(--toolbar-bgcolor);
		--macos-inactive-tabbar-tab-active-border-bottom-color: #4a90d9;
		--macos-inactive-tabbar-tab-active-color: var(--lwt-tab-text, var(--toolbar-color));

		/* Switch */
		--macos-switch-background: #e1dedb;
		--macos-switch-border-color: #cdc7c2;
		--macos-switch-slider-background: linear-gradient(to bottom, white 10%, white 90%);
		--macos-switch-slider-border-color: #bfb8b1;
		--macos-switch-slider-box-shadow: inset 0 1px white, 0 1px #0000001a, 0 1px 2px #00000012;
		--macos-switch-active-background: #3584e4;
		--macos-switch-active-border-color: #185fb4;
		--macos-switch-active-slider-border-color: #185fb4;
	}
}
