@import "parts/toolbox.css";
@import "parts/buttons.css";
@import "parts/entries.css";
@import "parts/headerbar.css";
@import "parts/csd.css";
@import "parts/titlebutton-light.css";
@import "parts/titlebutton-dark.css";
@import "parts/popups.css";
@import "parts/tabsbar.css";
@import "parts/findbar.css";
@import "parts/scrollbars.css";
@import "parts/remove-white-flash.css";
@import "parts/custom-icons.css";
@import "parts/icons.css";
@import "colors/light.css";
@import "colors/dark.css";
@import "parts/windows.css";
/* Add Custom themes so user only needs to copy items*/
@import "custom/tabs-swapclose.css";
@import "custom/singletabhidden.css";
@import "custom/hideextension.css";
@import "custom/enabletabview.css";
@import "custom/noidentity.css";
@import "custom/standard-urlbar.css";
@import "custom/windows-swapclose.css";
@import "custom/compact-tabs.css";
@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Set theme version text in customization panel */
#customization-footer::before {
	content: "Firefox WhiteSur theme";
	padding: 9px;
}
